{% extends 'base.html.twig' %}

{% block body %}
	<main>
		{% for category in categories %}
			<div>
				<h1>{{ category.name }}</h1>
				{% for program in programs %}
					<article>
						<h4>{{ program.title }}</h4>
						<p>{{ program.synopsis }}</p>
						<h6>{{ program.id }}</h6>
						<a href="{{ path("program_show", { id: program.id }) }}">en voir plus</a>
					</article>
				{% endfor %}
				{# - Catégorie :
												{{ program.category.name }}</h2>
											<p>{{ program.synopsis }}</p>
											<a href="{{ path("program_show", { id: program.id }) }}">Voir la fiche</a> #}
			</div>
		{% else %}
			Aucune série trouvée.
		{% endfor %}
		<a href="{{ path('category_index') }}">
			Retour à la liste des categories
		</a>
	</main>
{% endblock %}
